<h1>Message List here</h1>

<% @messages.each do |message| %>
  <div class="message">  
<!--     <h3><a href="/messages/<%= message.id %>"><%= message.title %></a> <small></small></h3> -->
    <p>
      <%= message.content %> (by: <%= message.author %>  <%= message.url %>)
      <hr>
    </p>
  </div>
<% end %>

<p>
  <a href="/messages/new">Post a message... It's FREE (for now)!</a>
</p>